.main_blog {
  min-height: 80vh;
  padding-top: 2rem;
}

.div_img {
  width: 100%;
  height: 15rem;
  overflow: hidden;
}

.div_img img {
  min-width: 100%;
  max-width: 100%;
  border-radius: 6px;
  min-height: 100%;
  max-height: 100%;
}

.postDesc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.person_img fieldset {
  max-width: 100%;
  overflow: hidden;
}

.person_img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.single_img img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
  border-radius: 6px;
  margin-bottom: 15px;
}

.post_head h2 {
  flex: 9;
  /* border: 2px solid; */
  color: rgb(9, 139, 107);
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 0.2px;
  font-size: 2.2rem;
}

.profile_single {
  /* border: 2px solid;
    justify-content: space-between; */
}

.profile_single img {
  width: 50px;
}

.post_desc {
  text-align: justify;
}

.post_desc ::first-letter {
  margin-left: 25px;
  font-size: 2rem;
  font-weight: 700;
  /* font-style: italic; */
  color: rgb(29, 27, 27);
}

.singlePostEdit {
  float: right;
  font-size: 22px;
  /* border: var(--border); */
  padding-top: 8px;
  font-weight: 600;
}

.singlePostIcon {
  margin-right: 12px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}

.singlePostTitleInput {
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
  display: block;
  width: 100%;
  font-size: 26px;
  padding: 5px 0;
}

.singlePostDescInput {
  display: block;
  width: 100%;
  min-height: 20rem;
  font-size: 20px;
  padding: 10px 20px;
}

.singlePostButton button {
  margin: 20px 0;
  padding: 8px 20px;
  border: none;
  background-color: teal;
  font-size: 20px;
  color: #fff;
  border-radius: 6px;
  letter-spacing: 0.4px;
  cursor: pointer;
}

/* sideBar */
.sideBar {
  background-color: rgba(247, 247, 247, 0.829);
  padding: 6px 15px;
  border-radius: 8px;
}

.sidebarListItem li {
  list-style: none;
  text-transform: capitalize;
}

.sidebarListItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 8px;
  font-weight: 500;
  font-style: italic;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 12px;
  display: flex;
  /* border: var(--border); */
  width: 8.5rem;
  justify-content: space-around;
  font-size: 22px;
  color: rgb(46, 46, 46);
}

.sidebarIcon {
  cursor: pointer;
  margin-left: 15px;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}

.sidebarTitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(31, 30, 30);
}

.my_nameSideBar {
  color: rgb(19, 18, 18);
  font-weight: 700;
}